<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<body>
	
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css" />


<%- include ('../partials/navbar.ejs') %>


<div class="container mt-5">

  <h2 class="text-center">Directors List</h2>


  <br>
        <% directors.forEach(director => { %>
          <br>
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <% if (director.path_to_image !== null) { %>
                    <img class="" src="<%= director.path_to_image %>" width="115" height="155" alt="Cover">
                    <% } else { %>
                    <img src="/images/uploads/directors/default.png" width="115" height="155" alt="Default">
                <% } %>
                </div>
                <div class="card-body">
                  <a href="/name/<%= director.slug %>"><h4 class="card-title"><%= director.name %></h4></a>
                 <br>
                  <br>
                  <p class="card-text"><%= director.bio %> </p>
                </div>
            </div>
        </div>
          <% }) %>
		
      <br>

      <% if (pageList.length > 1) { %>
        <% if (currentPage!=1) { %>
          <a href="#" onclick="addUrlParameter('page', '<%= currentPage-1 %>');"> &lt; Previous</a>
       <% } %>

        <% for (i=0; i<pageList.length; i++) { %>
          <a href="#" onclick="addUrlParameter('page', '<%= pageList[i] %>');"><%= pageList[i] %></a>
       <% } %>

       <% if (currentPage!=totalPages) { %>
        <a href="#" onclick="addUrlParameter('page', '<%= currentPage+1 %>');">Next &gt; </a>
      <% } %>

      <% } %>
      
	</div>
<br>
<br>

</div>
 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script>
    function addUrlParameter(name, value) {
      var searchParams = new URLSearchParams(window.location.search)
      searchParams.set(name, value)
      window.location.search = searchParams.toString()
    }
    </script>    
	<script>
		$(function () {
  		$('[data-toggle="tooltip"]').tooltip()
	})
	</script>
</body>
</html>