<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<body>
	
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css" />


<%- include ('../partials/navbar.ejs') %>


<div class="container mt-5">
	<h2 class="text-center">Movie List</h2>

  Sort by: 
  
  <% if(currentSort) { %>
    <% if (currentSort === 'Runtime_descending') { %>
      <a href="#" onclick="addUrlParameter('sort', 'Runtime_ascending');">Runtime ▼ </a> 
    <% } else if (currentSort === 'Runtime_ascending') { %>
      <a href="#" onclick="addUrlParameter('sort', 'Runtime_descending');">Runtime ▲ </a> 
    <% } else { %>
      <a href="#" onclick="addUrlParameter('sort', 'Runtime_descending');">Runtime </a> 
    <% } %> 
<% } else { %>
  <a href="#" onclick="addUrlParameter('sort', 'Runtime_descending');">Runtime </a> 
<% } %>

  |  
  
  <% if(currentSort) { %>
      <% if (currentSort === 'A-Z_descending') { %>
        <a href="#" onclick="addUrlParameter('sort', 'A-Z_ascending');">A-Z ▼ </a> 
      <% } else if (currentSort === 'A-Z_ascending') { %>
        <a href="#" onclick="addUrlParameter('sort', 'A-Z_descending');">A-Z ▲ </a> 
      <% } else { %>
        <a href="#" onclick="addUrlParameter('sort', 'A-Z_descending');">A-Z </a> 
      <% } %> 
  <% } else { %>
    <a href="#" onclick="addUrlParameter('sort', 'A-Z_descending');">A-Z </a> 
  <% } %>
  |
  <% if(currentSort) { %>
      <% if (currentSort === 'User Rating_descending') { %>
        <a href="#" onclick="addUrlParameter('sort', 'User Rating_ascending');">User Rating ▼ </a> 
      <% } else if (currentSort === 'User Rating_ascending') { %>
        <a href="#" onclick="addUrlParameter('sort', 'User Rating_descending');">User Rating ▲ </a> 
      <% } else { %>
        <a href="#" onclick="addUrlParameter('sort', 'User Rating_descending');">User Rating </a> 
      <% } %> 
  <% } else { %>
    <a href="#" onclick="addUrlParameter('sort', 'User Rating_descending');">User Rating </a> 
  <% } %>

  
  |  <% if(currentSort) { %>
    <% if (currentSort === 'Release Date_descending') { %>
      <a href="#" onclick="addUrlParameter('sort', 'Release Date_ascending');">Release Date ▼ </a> 
    <% } else if (currentSort === 'Release Date_ascending') { %>
      <a href="#" onclick="addUrlParameter('sort', 'Release Date_descending');">Release Date ▲ </a> 
    <% } else { %>
      <a href="#" onclick="addUrlParameter('sort', 'Release Date_descending');">Release Date </a> 
    <% } %> 
<% } else { %>
  <a href="#" onclick="addUrlParameter('sort', 'Release Date_descending');">Release Date </a> 
<% } %> 


| 
<% if (locals.CURRENT_USER) { %> 
  <% if(currentSort) { %>
    <% if (currentSort === 'Your Rating_descending') { %>
      <a href="#" onclick="addUrlParameter('sort', 'Your Rating_ascending');">Your Rating ▼ </a> 
    <% } else if (currentSort === 'Your Rating_ascending') { %>
      <a href="#" onclick="addUrlParameter('sort', 'Your Rating_descending');">Your Rating ▲ </a> 
    <% } else { %>
      <a href="#" onclick="addUrlParameter('sort', 'Your Rating_descending');">Your Rating </a> 
    <% } %> 
  <% } else { %>
  <a href="#" onclick="addUrlParameter('sort', 'Your Rating_descending');">Your Rating </a> 
  <% } %>  
<% } %>

| <% if(currentSort) { %>
  <% if (currentSort === 'Number of Reviews_descending') { %>
    <a href="#" onclick="addUrlParameter('sort', 'Number of Reviews_ascending');">Number of Reviews ▼ </a> 
  <% } else if (currentSort === 'Number of Reviews_ascending') { %>
    <a href="#" onclick="addUrlParameter('sort', 'Number of Reviews_descending');">Number of Reviews ▲ </a> 
  <% } else { %>
    <a href="#" onclick="addUrlParameter('sort', 'Number of Reviews_descending');">Number of Reviews </a> 
  <% } %> 
<% } else { %>
<a href="#" onclick="addUrlParameter('sort', 'Number of Reviews_descending');">Number of Reviews </a> 
<% } %> 


  <br>
        <% movies.forEach(movie => { %>
          <br>
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <% if (movie.path_to_cover !== null) { %>
                    <img class="" src="<%= movie.path_to_cover %>" width="115" height="155" alt="Cover">
                    <% } else { %>
                    <img src="/images/uploads/movies/default.png" width="115" height="155" alt="Default">
                <% } %>
                </div>
                <div class="card-body">
                  <a href="/movies/title/<%= movie.slug %>"><h4 class="card-title"><%= movie.title %></h4></a>
                  <span class="movie_info"> <p><small><%= movie.runtime %> minutes | <%= movie.genre %> | <%=movie.release_date %> | Add to Watchlist | Add to Favourites </small></p>
                  <% if(movie.rating_count !== 0) { %>
                    <span class="movie_info"><i class="fas fa-star"></i> <%=movie.rating %> </span>
                    <% if(locals.CURRENT_USER) { %>
                        || <span class="movie_info">Your rating:
                            <%= movie?.movie_reviews?.[0]?.rating ?? "You have not rated this movie yet" %>
                         </span>
                    <% } %>
                 <% } %> 
                 <br>
                  <span class="movie_info">Directed by: <a href="/name/<%= movie.director.slug %>"> <%= movie.director.name %> </a> </span>
                  <br>
                  <p class="card-text"><%= movie.description %> </p>
                </div>
            </div>
        </div>
          <% }) %>
		
      <br>

      <% if (pageList.length > 1) { %>
        <% if (currentPage!=1) { %>
          <a href="#" onclick="addUrlParameter('page', '<%= currentPage-1 %>');"> &lt; Previous</a>
       <% } %>

        <% for (i=0; i<pageList.length; i++) { %>
          <a href="#" onclick="addUrlParameter('page', '<%= pageList[i] %>');"><%= pageList[i] %></a>
       <% } %>

       <% if (currentPage!=totalPages) { %>
        <a href="#" onclick="addUrlParameter('page', '<%= currentPage+1 %>');">Next &gt; </a>
      <% } %>

      <% } %>
      
	</div>
<br>
<br>

</div>
 
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script>
    function addUrlParameter(name, value) {
      var searchParams = new URLSearchParams(window.location.search)
      searchParams.set(name, value)
      window.location.search = searchParams.toString()
    }
    </script>    
	<script>
		$(function () {
  		$('[data-toggle="tooltip"]').tooltip()
	})
	</script>
</body>
</html>