<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>
<body>
	
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css" />


<%- include ('../partials/navbar.ejs') %>


<div class="container mt-5">
	<h2 class="text-center">Reviews for <%= movie.title %></h2>
  
  <% if (locals.REVIEW_EXISTS) { %>
    <h5>Edit your review for <%= movie.title %></h5>
    <br> <a href="/reviews/editReview/<%= movie.slug %>">Edit Review</a>

    <h5>Your Review</h5>
    <div class="card">
      <div class="card-horizontal">
          </div>
          <div class="card-body">
            <h4 class="card-title"><%= locals.USER_REVIEW[0].review_title %></h4>
            <% if(locals.USER_REVIEW[0].rating !== null) { %>
              <span class="movie_info"><i class="fas fa-star"></i> <%=locals.USER_REVIEW[0].rating %> </span>
           <% } %> 
           <br>
            <p class="card-text"><%= locals.USER_REVIEW[0].review_body %> </p>
          </div>
      </div>

<% } else { %>
  <h5>Write a review for <%= movie.title %></h5>
  <br> <a href="/reviews/addReview/<%= movie.slug %>">Write Review</a>
<% } %>


        <% reviews.forEach(review => { %>
          <br>
          <div class="card">
            <div class="card-horizontal">
                </div>
                <div class="card-body">
                  <h4 class="card-title"><%= review.review_title %></h4>
                  <span class="movie_info"> <small> <%= review.user_reviews.username %> </small>
                    <br>
                  <% if(review.rating !== null) { %>
                    <span class="movie_info"><i class="fas fa-star"></i> <%=review.rating %> </span>
                 <% } %> 
                 <br>
                  <p class="card-text"><%= review.review_body %> </p>
                </div>
            </div>
          <% }) %>
		
      

</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

	<script>
		$(function () {
  		$('[data-toggle="tooltip"]').tooltip()
	})
	</script>
</body>
</html>